/*
Description: Css design sheet, contains all designs separated to groups (by pages).

Author: Michal Drda

*/


		/* General parts designs */
        .nav.navbar-nav {
            background-color: #ffb84d;
        }

		.underline-menu a#selected-page-item {
			color: #808080;
			border-bottom: 3px solid #808080;
		}

        .nav.navbar-nav li a {
			color: #ffffff;
		 }

        .navbar-default .navbar-brand {
            color: #ffffff;
        }

        .navbar-default {
            background-color: #ffb84d;
        }

		.nav.navbar-nav li a:hover {
		    color: #808080;
		}

		.underline-menu a {
			border-bottom: 3px solid transparent;
		}

		.underline-menu a:hover {
			border-bottom: 3px solid #808080;
		}

        .navbar-default .navbar-toggle:hover {
            background-color: #ffffff;
			border-color: #ffffff;
		}

		.navbar-default .navbar-toggle {
			border-color: #ffffff;
			color: #ffffff;
		}

		.navbar-default .navbar-toggle .icon-bar {
			background-color: #ffffff;
		}

		.navbar-default .navbar-toggle:hover .icon-bar {
			background-color: #808080;
		}

		.p-basic-white {
			color: #ffffff;
		}
		
		.p-bigger-white {
			padding-top: 10px;
			font-size: 15px;
			color: #ffffff;
		}
		
		.container-border-1px {
			border: 1px solid #ffb84d;
			margin-bottom: 5px;
		}

		.row {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		p {
			font-size: 14px;
			color: #808080;
		}
		
		.p-small-text {
			font-size: 10px;
		}
		
		.box-text-a {
			margin-top: 10px;
		}

		h1 {
			color: #808080;
			text-align: left;
			margin-bottom: 15px;
		}
		
		h2 {
			color: #808080;
		}
		
		h4 {
			color: #ffb84d;
			text-align: left;
			margin-bottom: 10px;			
		}

		li a {
			color: #ffb84d;
			padding: 8px 16px;
			display: block;
			text-align: left;
		}

		label {
			font-size: 14px;
			color: #808080;
		}

		html {
			position: relative;
			min-height: 100%;
		}
		
		body {
			/*min-height: 100%;*/
			/* Margin bottom by footer height */
			margin-bottom: 60px;
			background-color: #e5e5e5;
		}

		.clear {
			clear: both;
			height: 60px;
		}

		#footer {
			clear: both;
			position: absolute;
			bottom: 0;
			/* Set the fixed height of the footer here */
			height: 45px;
			color: #ffffff;
			background-color: #808080;
			text-align: right;
			width: 100%;
		}

		hr {
			margin: 10px;
		}
		
		.disable-padding {
			padding-right: 0px;
			padding-left: 0px;
		}

        .disable-margin-top {
            margin-top: 0px;
        }

		.box-background  {
			background-color: #ffffff;
		}
		
		/* Forms */
		
		.terms {
			border: 1px solid #ccc;
			border-radius: 4px;
			background: #ffffff;
			height: 180px; 
			overflow: auto; 
			padding: 15px;
		}

		.form-horizontal .radio-inline {
			padding-bottom: 7px;
		}

		.form-group {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		.form-max-width {
			max-width: 920px;
		}

		.max-width-700 {
			max-width: 700px;
		}

		.max-width-460 {
			max-width: 460px;
		}

		.max-width-1300 {
			max-width: 1300px;
		}

        .h1-terms-smaller {
            font-size: 180%;
        }

        .h2-terms-smaller {
            font-size: 140%;
        }

		/* Login, register & About box*/
		.box-border {
			border-radius: 7px;
			padding-top: 15px;
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 0px;
		}
		
		.form-border {
			margin-bottom: 20px;
		}

		.form-h1-paddings {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		.login-max-width {
			max-width: 400px;
		}
		
		.about {
			max-width: 600px;
			padding-bottom: 15px;
		}

        .btn-default {
            color: #ffffff;
            background-color: #ffb84d;
            border: 1px solid transparent;
        }

		.about-center {
			text-align: center;
		}

        .btn-default:hover {
			color: #ffffff;
            background-color: #808080;
        }

		.alert-placeholder {
			min-height: 52px;
			margin-bottom: 20px;
		}