/*
Description: Css design sheet, contains all designs separated to groups (by pages).

Author: Michal Drda

Version:	ver  / DD-MM-CCYY / comment
			0.01 / 23-10-2017 / initial version
			0.02 / 28-10-2017 / new design for mainpage, profile box and events/friends online box are now fused 
			0.03 / 31-10-2017 / added css for posts and comments (incl. forms, pictures, text)
 
TODO:		1)	Design of profile, events

*/


		/* General parts designs */
        .nav.navbar-nav {
            background-color: #ffb84d;
        }

        .nav.navbar-nav li a {
			color: #ffffff;
			font-family: "Open Sans";
		 }

        .navbar-default .navbar-brand {
            color: #ffffff;
        }

        .navbar-default {
            background-color: #ffb84d;
        }

		.nav.navbar-nav li a:hover {
		    color: #808080;
		}

		.underline-menu a {
			border-bottom: 3px solid transparent;
		}

		.underline-menu a:hover {
			border-bottom: 3px solid #808080;
		}

        .navbar-default .navbar-toggle:hover {
            background-color: #ffffff;
        }

		.p-basic-white {
			color: #ffffff;
		}
		
		.p-bigger-white {
			padding-top: 10px;
			font-size: 15px;
			color: #ffffff;
		}
		
		.container-border-1px {
			border: 1px solid #ffb84d;
			margin-bottom: 5px;
		}

		.row {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		.img-border {
			border: 1px solid #ffb84d;
			border-radius: 4px;
			padding: 5px;
			position: center;
			max-width: 100%;
		}
		
		p {
			font-family: "Open Sans";
			font-size: 14px;
			color: #808080;
		}
		
		.p-small-text {
			font-size: 10px;
		}
		
		.box-text-a {
			margin-top: 10px;
		}

		h1 {
			color: #808080;
			font-family: "Open Sans";
			text-align: left;
			margin-bottom: 15px;
		}
		
		h2 {
			color: #808080;
			font-family: "Open Sans"
		}
		
		h4 {
			color: #ffb84d;
			font-family: "Open Sans";
			text-align: left;
			margin-bottom: 10px;			
		}

		li a {
			color: #ffb84d;
			padding: 8px 16px;
			display: block;
			text-align: left;
		}

		label {
			font-family: "Open Sans";
			font-size: 14px;
			color: #808080;
		}

		html {
			position: relative;
			min-height: 100%;
		}
		
		body {
			min-height: 100%;
			/* Margin bottom by footer height */
			margin-bottom: 60px;
			background-color: #e5e5e5;
		}

		.clear {
			clear: both;
			height: 60px;
		}

		#footer {
			clear: both;
			position: absolute;
			bottom: 0;
			/* Set the fixed height of the footer here */
			height: 45px;
			color: #ffffff;
			background-color: #808080;
			text-align: right;
			width: 100%;
		}

		hr {
			margin: 10px;
		}
		
		.disable-padding {
			padding-right: 0px;
			padding-left: 0px;
		}

        .disable-margin-top {
            margin-top: 0px;
        }

		.box-background  {
			background-color: #ffffff;
		}
		
		/* Forms */
		
		.terms {
			border: 1px solid #ccc;
			border-radius: 4px;
			background: #ffffff;
			height: 180px; 
			overflow: auto; 
			padding: 15px;
		}

		.form-group {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		.form-max-width {
			max-width: 920px;
		}

		.max-width-700 {
			max-width: 700px;
		}

		.max-width-460 {
			max-width: 460px;
		}

		.max-width-1300 {
			max-width: 1300px;
		}

        .h1-terms-smaller {
            font-size: 180%;
        }

        .h2-terms-smaller {
            font-size: 140%;
        }

		/* Login, register & About box*/
		.box-border {
			border-radius: 7px;
			padding-top: 15px;
			padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 0px;
		}
		
		.form-border {
			margin-bottom: 20px;
		}

		.form-h1-paddings {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		.login-max-width {
			max-width: 400px;
		}
		
		.about {
			max-width: 600px;
			padding-bottom: 15px;
		}

        .btn-default {
            color: #ffffff;
            background-color: #ffb84d;
            font-family: "Open Sans";
            border: 1px solid transparent;
        }
        .btn-default:hover {
            background-color: #ffffff;
            color: #808080;
        }
		
		/* Comment form and parts
		.comment-label {
			color: #e5e5e5;
		}
		
		.comment-box {
			max-height: 250px;
			overflow: auto;
			border: 1px solid #e5e5e5;
			border-radius: 7px;
			margin-bottom: 5px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 0px;
			padding-right: 0px;
		}
		
		.comment-icon {
			padding-right: 0px;
			padding-left: 10px;
			max-width: 68px;
		}
		
		.comment-text {
			padding-right: 0px;
		}
		
		.comment-input {
			border: 1px solid #ffb84d; 
			margin-bottom: 15px;
		}
		
		.button-right {
			float: right;
			margin-left: 5px;
		} */

